@import '../../styles/layout';
@import '../../styles/fonts';
@import '../../styles/constants';

@import './mainScene.scss';

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    color: white;
}

.scene-content-wrapper {
    width: 1920px;
    height: 1080px;

    position: absolute;
    top: 0; left: 0;

    will-change: transform;
    contain: strict;
}

.content-wrapper {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0; left: 0;
}

.scene-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.content-background {
    background-color: $sac-background-1;
    z-index: -1;
}
