@import '../../styles/layout';
@import '../../styles/fonts';
@import '../../styles/constants';

@import './mainScene.scss';
@import './infoBar.scss';
@import './teams.scss';
@import './stages.scss';
@import './casters.scss';

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    color: white;
}

.scene-content-wrapper {
    width: 1920px;
    height: 1080px;

    position: absolute;
    top: 0; left: 0;

    will-change: transform;
    contain: strict;
}

.content-wrapper {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0; left: 0;
}

.content-background {
    background-image: url('/assets/background.png');
    background-size: contain;
    z-index: -1;
}
