@import '../../styles/constants';

.scoreboard-container {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 370px;

    > .scoreboard-extra-container {
        width: 100%;

        > .scoreboard-extra {
            width: 29.8%;
            opacity: 0;
            align-self: flex-end;

            .logo {
                height: 38px;
                background-color: $sac-accent;
                padding: 0 6px;
                margin: 0;

                > img {
                    height: 30px;
                    margin: 0;
                    transform: translate(-1px, -5px);
                }
            }

            > .separator {
                height: 8px;
                background-color: $sac-accent;
            }
        }
    }
}

.scoreboard-wrapper {
    height: 140px;
    overflow: hidden;
    filter: $global-drop-shadow;
}

.scoreboard-content {
    position: relative;
    width: 370px;
    transform: translate(0px, 140px);

    > .teams {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: repeat(2, 1fr);
        background: linear-gradient(90deg, $sac-background-2 0, $sac-background-2 320px, $sac-background-1 320px, $sac-background-1 100%);
        height: 100px;
        align-items: center;
        justify-items: center;
        padding: 2px 0;

        > .team-color {
            width: 25px;
            height: 35px;
            border-radius: 5px;
            background-color: white;
            border: 2px solid white;
        }

        > fitted-text {
            justify-self: start;
            font-size: 35px;
            line-height: 30px;
        }

        > .team-score {
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            text-align: center;
        }
    }

    > .flavor-text-wrapper {
        height: 36px;
        background-color: $sac-background-3;
        font-size: 30px;
        font-weight: 300;

        > fitted-text {
            transform: translate(0, -3px);
        }
    }
}
